.tape {
    display: flex;
    justify-content: center;
    font-family: monospace;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .cell {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    margin: 2px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
  
  .head {
    background-color: yellow;
    border-color: red;
  }
  